@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,400,400i,700,900|Montserrat:400,400i,500,500i,700,900|Raleway:400,400i,500,500i,700,900');

/* шрифты
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif; */

* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	font-size: 0px;
}

/*ПЕРВАЯ ЧАСТЬ*/

header {
	padding: 64px 150px 0px;
	min-height: 806px;
	width: 100%;
	background: #eff0f2;
	text-align: center;
	border-bottom: 1px solid #eff0f2;
}

.m_width {
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;
}

.logo {
	width: 113px;
	height: 46px;
	border: 6px solid #170f1c;
	background-image: url(./img/shopno.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	vertical-align: middle;
	transition: transform 0.4s ease-out;
}

.logo:hover {	
	transform: scale(1.1);
	transition: transform 0.4s ease-out;
}

.logo:active {
	transform: scale(1.2);
}

.header_line {
	height: 30px;
	display: inline-block;
	width: calc(100% - 113px - 30px);
	vertical-align: middle;
}

.burger {
	width: 30px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	transition: transform 0.4s ease-out;
}

.burger:hover {
	transform: scale(1.1);
	transition: transform 0.4s ease-out;
}

.burger:active {
	transform: scale(1.2);
}

.burger_line {
	width: 30px;
	height: 4px;
	background: #000000;
	opacity: 0.6;
	border-radius: 4px;
}

.burger_line.middle {
	margin: 5px 0px;
}

.header_panel_container {
	width: 100%;
	text-align: center;
	margin-bottom: 200px;
}

h1 {
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	color: rgba(80, 80, 80, 255);
	font-family: Montserrat;
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.7px;
	margin: 0;
}

h1 > span {
	padding: 0 12px;
	background: rgba(118, 244, 234, 0.5);
}

.contact {
	display: inline-block;
	padding: 12px 42px;
	color: rgba(0, 0, 0, 0.75);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2.16px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	margin-top: 130px;
	text-decoration: none;
	transition: transform 0.4s ease-out;
}

.contact:hover {
	transform: scale(1.1);
	border: 2px solid rgba(0, 0, 0, 0.75);
	transition: transform 0.4s ease-out;
}

.contact:active {
	transform: scale(1.15);
	color: rgba(0, 0, 0, 0.85);
	text-decoration: underline;
}

.h1_cup {
	/*margin-left: 42px;*/
	margin-top: 10px;
}

.cup {
	height: 42px;
	transform: translate(0px, 230px) scale(2);
	margin-left: -80px;
}

/*ВТОРОЙ БЛОК*/

.block_2 {
	min-height: 985px;
	width: 100%;
	padding: 100px 150px 0px;
	background: #f8fafa;
	text-align: center;
}

h2 {
	opacity: 0.9;
	color: #000000;
	font-family: Montserrat;
	font-size: 38px;
	font-weight: 700;
	letter-spacing: 2.28px;
	margin-bottom: 10px;
}

h3 {
	opacity: 0.62;
	color: #000000;
	font-family: Merriweather;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1.08px;
	margin: 0;
}

.block_2_bottom {
	margin-top: 145px;
	padding: 0 35px;
	width: 100%;
	min-height: 558px;
	text-align: center;

}

.slider_container {
	display: inline-block;
	vertical-align: middle;
	width: 479px;
}

.image_slider {
	min-height: 486px;
	min-width: 479px;
	display: block;
	text-align: center;
	background-image: url(./img/back-for-kreslo.png);
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}

.slider_vertical_line {
	display: inline-block;
	vertical-align: middle;
	height: 486px;
	width: 0px;
}

.kreslo {
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 0 25px rgba(20, 20, 21, 0.25);
}

.radiobuttons {
	margin: 41px 180px;
	text-align: left;
}

.block_2_bottom_line {
	height: 1px;
	width: calc(100% - 480px - 480px);
	max-width: 111px;
	display: inline-block;
	vertical-align: middle;
}

.text_containter_for_block2 {
	width: 474px;
	min-height: 583px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.text_containter_bold1 {
	opacity: 0.75;
	color: #000000;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.2px;
}

.text_containter_bold2 {
	opacity: 0.75;
	color: #000000;
	font-family: Merriweather;
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 1.02px;
}

.text_containter_p {
	opacity: 0.74;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.8px;
	line-height: 28px;
	margin-bottom: 30px;
}

/*БЛОК 3*/

.block_3 {
	min-height: 1166px;
	padding: 98px 0px;
	text-align: center;
}

.pic_container {
	margin-top: 120px;
	width: 100%;
	text-align: center;
}

.pic_container img {
	width: calc((100% - 20px) / 3);
	margin-left: 10px;
}

.pic_container img:nth-child(1),
.pic_container img:nth-child(4) {
	margin-left: 0;
}

.pic_container img:nth-child(-n+3) {
	margin-bottom: 11px;
}

/*БЛОК 4*/

.block_4 {
	min-height: 1621px;
	padding: 94px 0;
	background-color: #f9fbfb;
	text-align: center;
}

.pic_container_2 {
	margin-top: 123px;
	text-align: center;
}

.pic_container_2 div {
	display: inline-block;
	vertical-align: middle;
}

.img2-1 {
	max-width: 652px;
	height: 422px;
	background-image: url(./img/pic2-1.png);
	margin-bottom: 13px;
}

.img2-2 {
	max-width: 474px;
	height: 422px;
	background-image: url(./img/pic2-2.png);
	margin-left: 14px;
	margin-bottom: 13px;
}

.img2-3 {
	max-width: 652px;
	height: 370px;
	background-image: url(./img/pic2-3.png);
	margin-bottom: 13px;
	background-position: center;
	background-repeat: no-repeat;
}

.img2-4 {
	max-width: 474px;
	height: 370px;
	background-image: url(./img/pic2-4.png);
	margin-left: 14px;
	margin-bottom: 13px;
}

.img2-5 {
	max-width: 474px;
	height: 370px;
	background-image: url(./img/pic2-5.png);
}

.img2-6 {
	max-width: 652px;
	height: 370px;
	background: url(./img/pic2-6.png);
	margin-left: 14px;
}

.img2_text {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	padding: 150px 90px 55px 65px;
	text-align: left;
	transition: 0.5s ease-out;
}

.img2_text.top1 {
	padding-top: 200px;
}

.img2_text.top2 {
	padding-top: 180px;
}

/*hover для img_2text*/

.img2_text:hover {
	background: #70f5eb;
	transition: 0.5s ease-out;
	padding-top: 55px;
}

.img2_text:hover h3 {
	color: rgba(0, 0, 0, 0.83);
	transition: color 0.5s ease-out;
}

.img2_text:hover p {
	color: rgba(0, 0, 0, 0.75);
	transition: color 0.5s ease-out;
}

.img2_text:hover .dots,
.img2_text:hover .hide_text2 {
	display: none;
}

.img2_text:hover .hide_text,
.img2_text:hover .cross {
	display: inline;
}

/*конец hover для img_2text*/

.img2_text h3 {
	opacity: 0.95;
	color: #ffffff;
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 1px;
}

.img2_text p {
	opacity: 0.9;
	color: #ffffff;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.32px;
}

.img2_text .know_more {
	opacity: 0.8;
	color: #f9fbfb;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 500;
	line-height: 85px;
	letter-spacing: 0.72px;
}

.img2_text .know_more + img {
	margin-left: 19px;
}

.hide_text, .cross {
	display: none;
}

.cross {
	transform: translateY(10px);
}

.cross.first {
	transform: translateY(80px);
}

.cross.second {
	transform: translateY(35px);
}

/*БЛОК 5*/

.block_5 {
	min-height: 1314px;
	padding: 92px 0;
	text-align: center;
}

.pic_container_3 {
	margin-top: 121px;
}

.pic_container_3 .pic {
	width: 373px;
	min-height: 443px;
	/*width: calc((100% - 20px) / 3);*/
/*	height: calc((100% - 13px) / 2);*/
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	padding: 16px 19px;
	background-repeat: no-repeat;
	background-position: center;
}

.pic_container_3 div:nth-child(1),
.pic_container_3 div:nth-child(4) {
	margin-left: 0;
}

.pic_container_3 div:nth-child(-n+3) {
	margin-bottom: 13px;
}

.pic3-1, .pic3-6 {
	background-image: url(./img/pic3-1.png);
}

.pic3-2 {
	background-image: url(./img/pic3-2.png);
}

.pic3-3 {
	background-image: url(./img/pic3-3.png);
}

.pic3-4 {
	background-image: url(./img/pic3-4.png);
}

.pic3-5 {
	background-image: url(./img/pic3-5.png)
}

.info {
	width: 100%;
	min-height: 241px;
	background: #70f6eb;
	position: relative;
	top: 170px;
	padding: 42px 38px 42px 54px;
	text-align: left;
	/*display: none;*/
	opacity: 0;
	transition: 0.5s ease-out;
}

.info:before {
    content: ''; 
    position: absolute;
    border: 10px solid transparent;
    margin-top: -67px;
    left: 20px;
    border-bottom: 15px solid #70f6eb;
}

.pic:hover .info {
	/*display: block;*/
	opacity: 1;
	transition: 0.5s 0.2s ease-out;
}

.info h3 {
	font-family: Merriweather;
	opacity: 0.95;
	color: #272727;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 24px;
}

.info span {
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.45px;
	color: #767070;
	font-size: 15px;
}

.info p {
	opacity: 0.8;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.16px;
	margin-bottom: 28px;
}

.info img {
	margin-right: 13px;
	transition: 0.5s ease-out;
}

.info img:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	transform: scale(1.5);
	transition: 0.5s ease-out;
}

/*БЛОК 6*/

.block_6 {
	min-height: 923px;
	background: #f9fbfb;
	padding: 91px 0;
	text-align: center;
}

.block_6_content {
	text-align: center;
	margin-top: 135px;
}

.image_slider2 {
	width: 393px;
	background: url(./img/back-for-pic4-1.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 47px;
}

.image_slider2 img {
	box-shadow: 0 0 25px rgba(20, 20, 21, 0.25);
}

.slider_container2 {
	display: inline-block;
	vertical-align: middle;
}

.middle_line {
	width: calc(100% - (393px + 666px));
	height: 0px;
	display: inline-block;
	vertical-align: middle;
}

.v_card_container {
	display: inline-block;
	vertical-align: middle;
	margin-top: 24px;
}

.v_card {
	width: 666px;
	min-height: 362px;
	background: #eaebed;
	border-radius: 3px;
	text-align: center;
	padding: 94px 81px 69px 80px;
}

.v_card h3 {
	opacity: 0.95;
	font-family: Merriweather;
	line-height: 28px;
	text-transform: uppercase;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.2px;
}

.v_card h3 > span {
	font-weight: 400;
	letter-spacing: 0.9px;
	color: #787878;
	font-size: 15px;
	font-style: italic;
}

.v_card p {
	opacity: 0.7;
	color: #000000;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.96px;
	margin-bottom: 33px;
}

.stars img {
	margin-right: 6px;
}

.v_card_buttons {
	width: 100%;
	text-align: right;
	margin-top: 30px;
}

.button1, .button2 {
	width: 53px;
	height: 53px;
	box-shadow: 3px 7px 11px rgba(20, 20, 21, 0.05);
	border-radius: 3px;
	background-color: #ffffff;
	display: inline-block;
	margin-left: 29px;
	background-position: center;
	background-repeat: no-repeat;
}

.button1 {
	background-image: url(./img/button-left.png);
}

.button2 {
	background-image: url(./img/button-right.png);
}

.button1:hover {
	background: #71f6eb;
	background-image: url(./img/button-left-b.png);
	background-repeat: no-repeat;
	background-position: center;
}

.button2:hover {
	background: #71f6eb;
	background-image: url(./img/button-right-b.png);
	background-repeat: no-repeat;
	background-position: center;
}

/*PARTNERS*/

.partners {
	min-height: 387px;
	padding-top: 108px;
}

.partners img {
	width: 100%;
}

/*CONTACTS*/

.contacts {
	min-height: 704px;
	padding-top: 121px;
	background: url(./img/back-for-contacts.png);
	background-size: cover;
	text-align: center;
}

.feedback {
	width: 614px;
	min-height: 460px;
	box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
	background-color: #021623;
	opacity: 0.71;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
	text-align: left;
	padding: 28px 33px 20px 31px;
}

.contacts_form {
	width: 500px;
	min-height: 460px;
	box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
	background-color: #021623;
	opacity: 0.71;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
	padding: 32px 22px 15px;
}

.line_between_forms {
	display: inline-block;
	vertical-align: middle;
	height: 0;
	width: calc(100% - 614px - 500px);
}

form label {
	opacity: 0.6;
	color: #ffffff;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	margin-left: 4px;
	line-height: 51px;
}

.input1, .input2, .input3 {
	width: 80%;
	margin-left: 10px;
	background-color: transparent;
	border: none;
	opacity: 0.9;
	color: #ffffff;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	outline: none;
}

.form_1 textarea {
	width: 100%;
	height: 80px;
	background-color: transparent;
	border: none;
	opacity: 0.9;
	color: #ffffff;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	outline: none;
	resize: none;
	margin: 10px 0 0 10px;
}

.form_1 hr {
	width: 100%;
	height: 1px;
	background-color: #ffffff;
	opacity: 0.6;
}

.input2 {
	margin-top: 20px;
}

.input3 {
	margin-top: 20px;
	margin-bottom: 50px;
}

.l_for_textarea {
	line-height: 0px;
}

.submit {
	opacity: 0.7;
	color: #000000;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 2.16px;
	padding: 12px 37px;
	border-radius: 2px;
	background-color: #6eeee4;
	border: 0px;
	margin-top: 38px;
}

.form_2 {
	opacity: 0.7;
	color: #ffffff;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-bottom: 23px;
}

.form_2 address {
	font-style: normal;
}

.form_2 a {
	color: #ffffff;
	text-decoration: none;
}

.form_2 a:hover {
	text-decoration: underline;
}
